<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="../Content/css/home_dash.css">

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <!-- <div class="col-sm-2 sidenav">
    </div> -->
    <div class="col-sm-12 text-center">
      <h1>Welcome</h1>
      <hr>
      <h3>Login To Visualise Big-Data</h3>
    </div>
    <!-- <div class="col-sm-2 sidenav">
    </div> -->
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

<!-- Send JS variable to php -->
<script>
  function changeName(region){
    let head = document.getElementById(region);
    let linkName = head.innerHTML;
    // console.log(linkName);

    $.get('./receiver.php', {cDate: linkName},
    function(data){
      console.log(data);
    });
  }
</script>
</body>
</html>
